<div class="more-info-container">
  <h2 mat-dialog-title>{{ data.movieName }}</h2>
  <mat-spinner *ngIf="!loaded || !imdbLoaded"></mat-spinner>
  <mat-dialog-content *ngIf="loaded && imdbLoaded && extract">
    <h3>Description from Wikipedia</h3>
    <p>
      {{ extract }}
    </p>
  </mat-dialog-content>
  <mat-dialog-content *ngIf="loaded && !extract">
    <h3>No additional information found.</h3>
  </mat-dialog-content>
  <mat-dialog-actions align="end" *ngIf="loaded && imdbLoaded">
    <a
      *ngIf="loaded && extract"
      href="https://en.wikipedia.org/?curid={{ wikiId }}"
      target="_blank"
      mat-button
      >WIKI</a
    >
    <a
      *ngIf="imdb !== undefined"
      href="https://www.imdb.com/title/{{ imdb.id }}/"
      target="_blank"
      mat-button
      >IMDB</a
    >
    <button mat-button color="warn" mat-dialog-close cdkFocusInitial>
      CLOSE
    </button>
  </mat-dialog-actions>
</div>
