<div class="list-container">
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
    <h3>Searching...</h3>
  </div>
  <div *ngIf="!loading">
    <mat-card *ngFor="let movie of movies">
      <mat-card-header>
        <mat-card-title>
          {{ movie.name }}
        </mat-card-title>
        <mat-card-subtitle>
          <span *ngIf="movie.releaseDate">{{
            movie.releaseDate | date: "mediumDate"
          }}</span>
          <span *ngIf="movie.genres != [] && movie.releaseDate"> |</span>
          <span
            class="genres"
            *ngFor="let genre of movie.genres; let isLast = last"
          >
            {{ genre.name }}{{ isLast ? "" : ", " }}
          </span>
          <span *ngIf="movie.score">{{ movie.score }}</span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ movie.overview }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openMoreInfo(movie.name)">MORE INFO</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
